<article class="c-blogcard">
  <a class="c-blogcard__link" href="/blog/{{ post.slug }}">
    <p class="c-blogcard__image"><img class="o-fluidimage" src="{{ post.image.small }}" alt="{{ post.image.alt }}"></p>
    <p class="c-blogcard__meta"><time datetime="{{ post.date }}">{{ post.date | date("MMMM Do, YYYY") }}</time></p>
    <h2 class="c-blogcard__title">{{ post.title }}</h2>
  </a>
</article>
