---
pagination:
  data: blogposts
  size: 1
  alias: blogpost
permalink: blog/{{ blogpost.slug }}/index.html
---

{% extends "_layouts/base.njk" %}
{% set htmlTitle = "Blog - " ~ blogpost.title %}

{% block content %}

    <img src="{{ blogpost.image.small }}"
         srcset="{{ blogpost.image.small }} 600w,
                 {{ blogpost.image.medium }} 1024w,
                 {{ blogpost.image.large }} 1440w"
         sizes="100vw"
         class="o-fluidimage"
         alt="{{ blogpost.image.alt }}">

    <div class="c-container">
      <h1>{{ blogpost.title }}</h1>
      <p><time datetime="{{ blogpost.date }}">{{ blogpost.date | date("MMMM Do, YYYY") }}</time></p>
      <p>{{ blogpost.intro }}</p>
      <div class="c-wysiwyg">
        {{ blogpost.body | safe }}
      </div>
    </div>

{% endblock %}
