---
pagination:
  data: blogposts
  size: 3
  alias: pagedBlogposts
permalink: blog/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber + 1 }}/{% endif %}/index.html
---

{% extends "_layouts/base.njk" %}
{% set htmlTitle = "Home" %}

{% block content %}
  <main>
    <div class="c-container">

      <h1>Archives</h1>

      {% for post in pagedBlogposts %}
        {% if loop.first %}<ul class="c-grid  c-grid--2cols@small  c-grid--3cols@large">{% endif %}
          <li>
            {% include "_components/blogpost-card.njk" %}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

      {% if pagination.pages | length > 0 %}
        <ul class="c-pagination">
          {% if pagination.href.previous %}
            <li class="c-pagination__item"><a class="pagination__link" href="{{ pagination.href.previous }}">{% include "_svg/arrow-left.svg" %}</a></li>
          {% else %}
            <li class="c-pagination__item">{% include "_svg/arrow-left.svg" %}</li>
          {% endif %}
          {% if pagination.href.next %}
            <li class="c-pagination__item"><a class="pagination__link" href="{{ pagination.href.next }}">{% include "_svg/arrow-right.svg" %}</a></li>
          {% else %}
            <li class="c-pagination__item">{% include "_svg/arrow-right.svg" %}</li>
          {% endif %}
        </ul>
      {% endif %}

    </div>
  </main>
{% endblock %}
