---
pagination:
  data: blogposts
  size: 3
  alias: pagedBlogposts
permalink: blog/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber + 1 }}/{% endif %}/index.html
---

{% extends "_layouts/base.njk" %}
{% set htmlTitle = "Home" %}

{% block content %}
  <main>
    <div class="c-container">

      <h1>Archives</h1>

      {% for post in pagedBlogposts %}
        {% if loop.first %}<ul class="c-grid  c-grid--2cols@small  c-grid--3cols@large">{% endif %}
          <li>
            {% include "_components/blogpost-card.njk" %}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

      {% if pagination.pages | length > 0 %}
        <ul>
          {% if pagination.href.previous %}
          <li><a href="{{ pagination.href.previous }}">Previous</a></li>
          {% else %}
          <li>Previous</li>
          {% endif %}
          {% if pagination.href.next %}
          <li><a href="{{ pagination.href.next }}">Next</a></li>
          {% else %}
          <li>Next</li>
          {% endif %}
        </ul>
      {% endif %}

    </div>
  </main>
{% endblock %}
