---
permalink: "/index.html"
---

{% extends "_layouts/base.njk" %}
{% set htmlTitle = "Home" %}

{% block content %}
<main>
  <div class="c-container">

    <h1>Homepage</h1>

    {# get last blogposts #}
    {% for post in blogposts | limit(3) %}
      {% if loop.first %}<ul class="c-grid  c-grid--fluid">{% endif %}
        <li>
          {% include "_components/blogpost-card.njk" %}
        </li>
      {% if loop.last %}</ul>{% endif %}
    {% else %}
      <p>No blogposts found</p>
    {% endfor %}

  </div>
</main>
{% endblock %}
